<div class="body-style">
    <div class="top-bar">
      <div class="content">
        <div class="logo">
          <img class="logo-img" src="assets/img/logopaneton.png" alt="" />
          <h3 class="logo-text">Pedidos El Panetón</h3>
        </div>

        <div class="menu">
          <a href="#" class="menu-item">Iniciar sesión</a>
          <a href="#" class="menu-item">Perfil</a>
          <a href="#" class="menu-item">Favoritos</a>
        </div>
      </div>
    </div>

    <div class="brdng-card1">
      <div class="brdng-text-container1">
        <span class="brdng-title">Primera vez que ingreso a la plataforma</span>
        <button class="brdng-button">Regístrate</button>
        <p class="brdng-subtitle">
          Ahorra tiempo agregando tus productos favoritos
        </p>
      </div>
    </div>

    <div class="brdng-card2">
      <div class="brdng-text-container2">
        <span class="brdng-title"
          >Quiero realizar mi pedido como invitado o ver el catálogo</span
        >
        <button class="brdng-button">Explora</button>
        <p class="brdng-subtitle">No requiere inicio de sesión</p>
      </div>
    </div>

    <div class="brdng-card3">
      <div class="brdng-text-container3">
        <span class="brdng-title">Ya poseo una cuenta</span>
        <button class="brdng-button">Inicia sesión</button>
        <p class="brdng-subtitle">¡Realiza tus pedidos en un par de clics!</p>
      </div>
    </div>

    <footer class="footer">

        <div class="logo">
          <img class="logo-img" src="assets/img/logopaneton.png" alt="" />
          <div class="footer-text-container">
            <p class="footer-text">Panadería el Panetón - Expertos en Pan Brioche</p>
            <p class="footer-text">(+57) 302 388 2015</p>
          </div>
            <img class="logo-img" src="assets/img/logopaneton.png" alt="" />
        </div>

    </footer>
</div>
