<div class="body-bg">
     <div class="card-login">
      <div class="logo">
        <img class="logo-img" src="assets/img/logopaneton.png" alt="" />
        <p class="card-title">Ingresa</p>
      </div>

      <p class="form-text-italic">Tus pedidos a un click de distancia.</p>

      <form action="" class="form-style">
        <input type="tel" class="input-login" placeholder="CC/NIT *" />

        <button class="btn" type="submit">Inicia sesión</button>

        <div class="footer-form-container">
          <span
            >¿No posees cuenta? <a class="link" href="#">Regístrate</a></span
          >
        </div>
      </form>
    </div>
</div>