.card-login{
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    width: 50%;
    /* margin: auto;
    margin-top: 15%; */
    padding: 1rem;
    border-radius: 1rem;
}

.input-login{
    margin-bottom: 1rem;
    padding: 0.8rem;
    border-color: transparent;
    font-family: 'Roboto', sans-serif;
    border-radius: 0.3rem;
    color: #B4A680;
    background-color: #EEEFF5;
    width: 65%;
    align-self: center;
}

.body-bg{
    background-image: url('../../../assets/img/bread1.png');
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    width: 50%;
    margin: auto;
    margin-top: 8%;
    padding: 1rem;
    border-radius: 1rem;
}

.card-title{
    color: #663B2C;
    font-family: 'DM Sans', sans-serif;
    font-size: 2rem;
    text-align: center;
}

.form-style{
    display: flex;
    flex-direction: column;
}

input{
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-color: transparent;
    font-family: 'Roboto', sans-serif;
    border-radius: 0.3rem;
    color: #B4A680;
    background-color: #EEEFF5;
}

input[type='radio']{
    filter:hue-rotate(170deg); 
}

.radio-group{
    display: flex;
    flex-direction: row;
    flex:1;
    align-items: center;
    justify-content: center;
}

.form-text{
    font-family: 'Roboto', sans-serif;
    color: #663B2C;
    font-size: 1rem;

}

.btn{
    background-color: #8A7965;
    color: #fff;
    font-size: 1.1rem;
    border-radius: 0.3rem;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding: 0.6rem;
    width: 70%;
    border-color: transparent;
    font-family: 'DM Sans', sans-serif;
}

.form-help{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 0.7rem;
    text-align: center;
}

.footer-form-container{
    margin-top: 1rem;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

a{
    color: #663B2C;
}

.form-text-italic{
    text-align: center;
    color: black;
    /* font-family: 'Roboto', sans-serif; */
     font-family: 'DM Sans', sans-serif;
    margin-bottom: 3rem;
    font-style: italic;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img{
    width: 2rem;
    height:2rem;
    margin-right: 1rem;
}