<div class="body-bg">
     <div class="card">
      <div class="logo">
        <img class="logo-img" src="assets/img/logopaneton.png" alt="" />
        <p class="card-title">Registro</p>
      </div>

      <p class="form-text-italic">Ahorra tiempo en la realización de tu pedido. Fácil y rápido.</p>
      <form action="" class="form-style">
        <input type="text" placeholder="Nombre completo *" />
        <input type="text" placeholder="Nombre del negocio *" />
        <input type="tel" placeholder="Número celular *" />
        <div class="radio-group">
          <div>
            <input type="radio" name="id" value="CC" />
            <span class="form-text">CC</span>
          </div>
          <div>
            <input type="radio" name="id" value="NIT" />
            <span class="form-text">NIT</span>
          </div>
        </div>

        <input type="tel" placeholder="CC/NIT *" />
        <span class="form-help">* Cédula sin puntos ni comas. NIT sin dígito de verificación</span>

        <button class="btn" type="submit">Regístrate</button>

        <div class="footer-form-container">
            <span class="footer-form-text">¿Ya tienes una cuenta? <a class="link" href="#">Inicia sesión</a></span>
        </div>
      </form>
    </div>
</div>
