.logo{
    display: flex;
    align-items: center;
}

.logo-img{
    width: 2rem;
    height:2rem;
    margin-right: 1rem;
}

.logo-text{
    font-size: 2em;
    color: #DAD0B5;
    font-family: 'DM Sans', sans-serif;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar{
    background-color: #8A7965;
    /* padding-left: 1rem;
    padding-right: 1rem; */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    /* position: absolute; */
    width: 100%;

}

.menu{
    display: flex;
    flex-direction: row;

}

.menu-item{
    font-family: 'Roboto', sans-serif;
    color: white ;
    margin-right: 20px;
    text-decoration: none;
}

.icon-cart{
    font-size: 3.5rem;
    color: #DAD0B5;
}

.badge{
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    padding:0.1rem;
    margin-left: 0.5rem;
    background-color: rgb(255, 0, 0);
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    top: 0.4rem;
    right: 0.2rem;
}

.badge-text{
    font-size: 0.9rem;
font-family: 'Roboto', serif;
color: white;
display: flex;
margin:0;
line-height: 0;


}
