 <div class="top-bar">
      <div class="content">
        <div class="logo">
          <img class="logo-img" src="assets/img/logopaneton.png" alt="" />
          <h3 class="logo-text">Pedidos El Panetón</h3>
        </div>

        <div class="menu">
          
          <a [routerLink]="['/cart']" class="menu-item">
            <fa-icon [icon]="shoppingIcon" class="icon-cart"></fa-icon>
            <div *ngIf="storage.items && storage.items.length>0" class="badge">
                <p  class="badge-text">{{storage.items.length}}</p>
              </div>
          </a>
        
        </div>
      </div>
    </div>
