 <app-navbar-dark></app-navbar-dark>
<div class="body-style">
   
    <div class="card">
      <div class="logo">
        <img class="logo-img" src="https://i.ibb.co/7W7nXkm/logopaneton.png" alt="" />
        <p class="card-title">Editar Perfil</p>
      </div>

      <form action="" class="form-style">
        <label for="">Nombre completo</label>
        <input type="text" placeholder="Nombre completo *" />
        
        <label for="">Nombre del negocio</label>
        <input type="text" placeholder="Nombre del negocio *" />
        
        <label for="">Teléfono celular</label>
        <input type="tel" placeholder="Número celular *" />
        <div class="radio-group">
          <div>
            <input type="radio" name="id" value="CC" />
            <span class="form-text">CC</span>
          </div>
          <div>
            <input type="radio" name="id" value="NIT" />
            <span class="form-text">NIT</span>
          </div>
        </div>

        <input type="tel" placeholder="CC/NIT *" />
        <span class="form-help">* Cédula sin puntos ni comas. NIT sin dígito de verificación</span>

        <button class="btn" type="submit">Actualizar</button>

        
      </form>
    </div>
</div>
